@font-face {font-family: ProximaNova-Regular; src: url(ProximaNova-Regular.otf)}


/************** Default Styles **************/

*{
    box-sizing:border-box;
    text-align:center;
}
body{
    margin:0;
    padding:0;
    width:100%;
    color: black;
}
.container{
    width:100%;
    margin:auto;
    padding:50px 0;
}
.row{
    width:100%;
    padding:30px 0;
    display:flex;
    align-content: center;
}
.row::after{
    display: block;
    content:"";
    clear: both;
}
.col{
    margin:auto;
    overflow: hidden;
}
.col-1{width:8.33%}
.col-4{width:33.33%}
.col-6{width:50%;}
.col-8{width:66.66%;}

h1{
    font-size:50px;
    text-transform:uppercase;
    font-weight:900;
    font-family: sans-serif;
}
span{
  background:coral;
}
p{
    font-weight:500;
    line-height:1.5;
    font-family: ProximaNova-Regular,sans-serif;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: black;
}
hr{
    border: 1px solid rgba(0,0,0,0.1);
    width: 70%;
    margin: auto;
}


/************** Projects Styles **************/

.project-info{
    padding: 0 50px;
}
img{
    width: 100%;
    max-width: 350px;
}
.project-info h1{
    margin-top: 0;
    padding-top: 0;
    font-size: 35px;
}
.project-info h1 a:hover{
    text-decoration: underline;
}


/************** Contact Styles **************/

.small{
    width: 70%;
    margin: auto;
}
.col-1 div{
    margin: 0;
    padding: 0;
}
.col-1 div h1{
    margin: 0;
    padding: 0;
    font-size: 35px;
}
.col-1 div p{
    margin: 0;
}
.right{
    margin-right: 0;  
}
.right div h1{
    color: #00e500;
}
.center-left,.center-right{
    margin-left: 0;
    margin-right: 0;
}
.center-left div h1{
    color: #dd4b39;
}.center-right div h1{
    color: #0057e7;
}
.left{
    margin-left: 0;
}
.left div h1{
    color: #3b5998; 
}
.contact-link{
    padding:10px;
}
.contact-link a:hover p{
    text-decoration: underline;
}


/************** Footer Styles **************/

footer .row{
    background: coral;
    padding: 0;
}
.white-bg{
    background: black;
    color: white;
    padding: 3px;
}


/************** Styles for smaller width mobiles **************/
@media only screen and (max-width:319px){
    body{
        padding: 0 2px;
        border: 2px solid red;
    }
    .col-6,.col-4,.col-8,.col-1{
        padding: 5px 10px;
    }
    h1{
        font-size: 30px;
    }
    p{
        font-size: 14px;
    }
    hr{
        margin: 0 auto;
        padding: 0;
    }
    .small{
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .col-8 div{
        padding: 0;
    }
    .project-info h1{
        font-size: 22.5px;
    }
    img{
        width: 100%;
        max-width: 300px;
    }
    .small-hr{
        margin: 5px auto;
    }
    .regular{
        width: 100%;
        margin: auto;
        padding: 0 2%;
    }
    .col-1{
        padding: 0;
        margin: 0 2px
    }
    .col-1 div{
        margin: 0; 
        padding: 0;
    }
    .contact-link {
        margin: 0;
        padding: 0;
        height: 80px;
    }
    .contact-link a h1{
        padding: 0;
        margin: 0;
        font-size: 30px;
    }
    .contact-link a p{
        line-height: 1;
        font-size: 12px;
    }
    footer .row .col-6{
        padding: 0;
    }
}

/************** Styles for mobiles **************/

@media only screen and (min-width:320px) and (max-width:480px){
    h1{
        font-size: 37.5px;
    }
    .small{
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .col-8 div{
        padding: 0;
    }
    .project-info h1{
        font-size: 27.5px;
    }
    img{
        width: 90%;
        max-width: 300px;
    }
    .small-hr{
        margin: 20px auto;
    }
    .regular{
        width: 100%;
        margin: auto;
        padding: 0 4%;
    }
    .col-1{
        padding: 0;
        margin: 0 2px
    }
    .col-1 div{
        margin: 0; 
        padding: 0;
    }
    .contact-link {
        margin: 0;
        padding: 0;
        height: 80px;
    }
    .contact-link a h1{
        padding: 0;
        margin: 0;
        font-size: 30px;
    }
    .contact-link a p{
        line-height: 1;
        font-size: 14px;
    }
    footer .row .col-6{
        padding: 0;
    }
}

/************** Styles for landscape mobiles **************/

@media only screen and (min-width:481px) and (max-width:767px){
    h1{
        font-size: 40px;
    }
    .small{
        width: 100%;
        margin: auto;
        display: grid;
    }
    .col-8 div{
        padding: 0;
    }
    .project-info h1{
        font-size: 30px;
    }
    img{
        width: 90%;
        max-width: 350px;
    }
    .small-hr{
        margin: 20px auto;
    }
    .regular{
        width: 100%;
        margin: auto;
        padding: 0 10%;
    }
    .col-1{
        padding: 0;
        margin: 0 2px
    }
    .col-1 div{
        margin: 0; 
        padding: 0;
    }
    .contact-link {
        margin: 0;
        padding: 0;
        height: 80px;
    }
    .contact-link a h1{
        padding: 0;
        margin: 0;
        font-size: 30px;
    }
    .contact-link a p{
        line-height: 1;
    }
    footer .row .col-6{
        padding: 0;
    }
    
}

/************** Styles for tablets **************/

@media only screen and (min-width:768px) and (max-width:1024px){
    .col-6,.col-4,.col-8,.col-1{
        width: 80%;
    }
    h1{
        font-size: 45px;
    }
    .small{
        width: 100%;
        margin: auto;
        display: grid;
    }
    .col-8 div{
        padding: 0;
    }
    .project-info h1{
        font-size: 32.5px;
    }
    img{
        width: 90%;
        max-width: 380px;
    }
    .small-hr{
        margin: 20px auto;
    }
    .regular{
        width: 100%;
        margin: auto;
        padding: 0 10%;
    }
    .col-1{
        padding: 0;
        margin: 0 2px;
    }
    .col-1 div{
        margin: 0; 
        padding: 0;
    }
    .contact-link {
        margin: 0;
        padding: 0;
    }
    .contact-link a h1{
        padding: 0;
        margin: 0;
        font-size: 30px;
    }
    .contact-link a p{
        line-height: 1;
    }
    footer .row .col-6{
        padding: 0;
    }
}

/************** Default responsive styles **************/
@media only screen and (max-width:1024px){
    .row{
        padding: 0;
        margin: 0;
    }
    .col-6,.col-4,.col-8,.col-1{
        width: 100%;
        overflow: hidden;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}
